:root {
  --myfont-family:'M PLUS Rounded 1c', sans-serif;
}

.service-section {
  background-color: #ffefd5;
  color: #a7815a;
  font-family: var(--myfont-family);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  flex: 0 0 300px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.card img {
  max-width: 100%;
  padding: 10px;
}
.card .text {
  padding: 0 20px 20px;
  font-size: 12px;
}
.card .text > button {
  padding: 10px;
  width: 100%;
  background-color: #FFEBC9;
  border-color: #D79771;
  font-size: small;
}

.title-section {
  flex: 0 0 150px;
  font-size: 28px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  color: #753422;
}

.data-recepie {
  padding: 0 30px 30px;
  color: #B05B3B;
}

.text-header {
  font-size: 22px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  color: #B05B3B;
}