* {
  box-sizing: border-box;
}

footer {
  height: 240px;
  background-color: #a7815a;
}

.f_right {
  width: 200px;
  height: 1px;
  border: 1px solid #915c5a;
  transform: rotate(90deg);
}

.foot {
  background-color: #370f2e;
  justify-content: flex-end;
  color: #a7815a;
}

.logo {
  display: flex;
  justify-content: center;
}
.menu {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none !important;
  color: black !important;
}

.central {
  height: 200px;
  background-color: #ffffff;
  color: #370f2e;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
}

.linea {
  margin-top: 20px;
  border-left: 2px solid #370f2e;
  height: 200px;
  color: beige;
}

.contacto {
  margin-top: 40px;
  color: beige;
  font-size: 25px;
}

.datos {
  color: #370f2e;
  font-size: 17px;
}

.footderecho {
  align-items: center;
}

.redes {
  align-items: center;
  margin-top: 30px;
  color: beige;
  font-size: 18px;
}
