* {
  box-sizing: border-box;
}

footer {
  height: 342px;
  background-color: #a7815a;
}

.f_right {
  width: 200px;
  height: 1px;
  border: 1px solid #915c5a;
  transform: rotate(90deg);
}

.foot {
  background-color: #370f2e;
  justify-content: flex-end;
  color: #a7815a;
}

.logo {
  display: flex;
  justify-content: center;
}
.menu {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
}

.central {
  height: 342px;
  background-color: #ffffff;
}
